.fore-stylish-dark-red { color: #9E3B33; }
.fore-stylish-red { color: #DD1E2F; }
.fore-stylish-green { color: #6EC748; }
.fore-stylish-light-green { color: #90CA77; }
.fore-stylish-blue { color: #06A2CB; }
.fore-stylish-light-blue { color: #81C6DD; }
.fore-stylish-yellow { color: #E9B64D; }
.fore-stylish-orange { color: #E48743; }

.back-stylish-dark-red { background-color: #9E3B33; }
.back-stylish-red { background-color: #DD1E2F; }
.back-stylish-green { background-color: #6EC748; }
.back-stylish-light-green { background-color: #90CA77; }
.back-stylish-blue { background-color: #06A2CB; }
.back-stylish-light-blue { background-color: #81C6DD; }
.back-stylish-yellow { background-color: #E9B64D; }
.back-stylish-orange { background-color: #E48743; }
